# **LOADING**
This notebook will deal with the **Load** phase of the ETL pipeline 
#### TO DO LIST 

    Load the cleaned data from the transformed/ directory.
    Save this data into an SQLite database.
    Verify that the data has been loaded correctly by running a simple SQL query.
    Export preview to loaded/ directory

## Load the cleaned data
* Will load the cleaned data as well as the required libries
* The sqlite3 library will allow one to interact with SQLite databases â€” a lightweight, file-based SQL database system in Python.
* The SQLite database is the easiest for queries whilst Parquet  is better for big data, since our dataset are not that big will use SQLite database

In [7]:
import pandas as pd
import sqlite3 
import os

# Load transformed data
full_df = pd.read_csv("transformed/transformed_full.csv")
inc_df = pd.read_csv("transformed/transformed_incremental.csv")

## Connecting to SQLite database and saving the data into SQLite database
* Now we connect to the database and save the cleaned data to the database

In [13]:
# Connect to SQLite database
conn_full = sqlite3.connect("loaded/full_data.db")
conn_inc = sqlite3.connect("loaded/incremental_data.db")

In [9]:
# Save DataFrames to SQLite
full_df.to_sql("full_data", conn_full, if_exists="replace", index=False)
inc_df.to_sql("incremental_data", conn_inc, if_exists="replace", index=False)

10

##  Checking to see if the dataset is saved in the database

In [11]:
# Preview from DB
print("Full Data Preview:")
print(pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full))

print("\nIncremental Data Preview:")
print(pd.read_sql("SELECT * FROM incremental_data LIMIT 5", conn_inc))

Full Data Preview:
   order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet       0.0       500.0  2024-01-20  South
1         2           Eve  Laptop       0.0         0.0  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08      0
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         0.0  2024-03-07  South

   total_price customer_tier
0          0.0        Bronze
1          0.0        Bronze
2        500.0        Silver
3       1500.0          Gold
4          0.0        Bronze

Incremental Data Preview:
   order_id customer_name product  quantity  unit_price  order_date   region  \
0       101         Alice  Laptop       0.0       900.0  2024-05-09  Central
1       102             0  Laptop       1.0       300.0  2024-05-07  Central
2       103             0  Laptop       1.0       600.0  2024-05-04  Central
3       104             0  Tablet       0.0       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

   total_price customer_tier
0          0.0        Bronze
1        300.0        Bronze
2        600.0        Silver
3          0.0        Bronze
4       1200.0          Gold

## Export Preview to the loaded/ folder
the full_data_preview.csv and incremental_data_preview.csv were created to prove the data was successfully saved and readable from the .db files

In [ ]:


# === Preview full_data.db ===
conn_full = sqlite3.connect("loaded/full_data.db")
preview_full = pd.read_sql("SELECT * FROM full_data LIMIT 5", conn_full)
conn_full.close()

# Show and save preview
print("Preview from full_data.db:")
print(preview_full)
preview_full.to_csv("loaded/full_data_preview.csv", index=False)


# === Preview incremental_data.db ===
conn_inc = sqlite3.connect("loaded/incremental_data.db")
preview_inc = pd.read_sql("SELECT * FROM incremental_data LIMIT 5", conn_inc)
conn_inc.close()

# Show and save preview
print("\nPreview from incremental_data.db:")
print(preview_inc)
preview_inc.to_csv("loaded/incremental_data_preview.csv", index=False)

Preview from full_data.db:
   order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet       0.0       500.0  2024-01-20  South
1         2           Eve  Laptop       0.0         0.0  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08      0
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0         0.0  2024-03-07  South

   total_price customer_tier
0          0.0        Bronze
1          0.0        Bronze
2        500.0        Silver
3       1500.0          Gold
4          0.0        Bronze

Preview from incremental_data.db:
   order_id customer_name product  quantity  unit_price  order_date   region  \
0       101         Alice  Laptop       0.0       900.0  2024-05-09  Central
1       102             0  Laptop       1.0       300.0  2024-05-07  Central
2       103             0  Laptop       1.0       600.0  2024-05-04  Central
3       104             0  Tablet       0.0       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

   total_price customer_tier
0          0.0        Bronze
1        300.0        Bronze
2        600.0        Silver
3          0.0        Bronze
4       1200.0          Gold